body {
  --text: #020203;
  --background: #eef1f7;
  --secondary-button: #e6d9ed;
  --primary-button: #9991ca;
  --accent: #8750a5;
}

.login-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1.5rem;
}

.login {
  margin: 0 auto;
  width: 100%;
  max-width: 20rem;
}

.login h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  text-align: center;
  color: white;
}

.login-form {
  margin-top: 2.5rem;
  margin: 2rem auto;
  width: 100%;
  max-width: 20rem;
}

.login-form label {
  display: block;
  color: var(--text);
}

.login-info {
  margin-top: 2rem;
}

.login-form input {
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 0.375rem;
  border-color: var(--background);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-width: 1px;
  padding: 0.5rem 0.75rem;
}

.login-form input:focus {
  border-color: var(--secondary-button);
  outline: 0;
  box-shadow: 0 0 0 3px rgba(188, 164, 254, 0.45);
}

.login-eye {
  cursor: pointer;
  margin: 1rem;
}

.login-form button {
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
}

.login-form button:hover {
  background-color: var(--primary-button);
}

.login-form p {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (max-width: 576px) {
  .login-page {
    padding: 2rem 1rem;
  }

  .login {
    max-width: 100%;
  }

  .login-form {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .login-form input {
    padding: 0.5rem;
  }
}
