.not-found-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found {
  padding: 2rem;
  border-radius: 0.375rem;
  text-align: center;
}

.not-found-image {
  width: 4rem;
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.not-found h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: #8750a5;
}

.not-found p {
  color: #020203;
  margin-bottom: 2rem;
}

.not-found button {
  color: #fff;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.375rem;
  background-color: #8750a5;
  align-content: center;
}

.not-found button:hover {
  background-color: #9991ca;
}
