.delete-whatever {
  display: inline-block;
  background-color: #8750a5;
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-whatever:hover {
  background-color: #db4747;
}

.trash-icon-button {
  width: 3rem;
  border-radius: 0.35rem;
}

#delete-account {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}

#delete-comment {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 2rem;
  bottom: 1rem;
  right: 1rem;
}
