.comment-container {
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
  background-color: #ffffff;
  padding-left: 2rem;
  padding-right: 6rem;
  margin-top: 40px;
  position: relative;
  overflow-wrap: break-word;
}

.comment-user-info {
  position: relative;
  display: flex;
}

.comment-view-photo {
  position: absolute;
  left: 0;
  top: 3rem;
  transform: translateY(-50%);
  right: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: absolute;
  margin-top: -2rem;
  background-color: #f3f4f6;
  border: 5px solid white;
}

.comment-view-nickname {
  color: #8c98aa;
  font-size: 12px;
}

.comment-view-comment {
  margin-top: 1.5rem;
  color: #4a5568;
}

.comment-view-more-info {
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.agregar-comentarios {
  padding: 2rem;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #020203;
}

.agregar-auth {
  text-decoration: underline;
  color: #8750a5;
}

.agregar-auth:hover {
  text-decoration: underline;
  color: white;
}

#comment-doc {
  margin-top: 1rem;
  background-color: #ccd2dd;
  border-radius: 10px;
  padding: 2px 20px;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

#comment-doc > img {
  width: 2rem;
  margin-left: 5px;
}

#comment-doc:hover {
  background-color: #9991ca;
}
