.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 400;
  background-color: #8750a5;
  color: white;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 24px;
}

.scroll-to-top.show {
  opacity: 1;
}

@media (max-width: 576px) {
  .scroll-to-top {
    bottom: 10px;
    right: 10px;
    padding: 10px;
    font-size: 20px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .scroll-to-top {
    bottom: 15px;
    right: 15px;
    padding: 12px;
    font-size: 22px;
  }
}
