.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-color: #8750a5;
  color: #eef1f7;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 24px;
}

.scroll-to-top.show {
  opacity: 1;
}
