.meet-team {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 3rem;
  color: #8750a5;
  font-family: "Soria", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  letter-spacing: 2px;
}

.the-team {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}

.cardContainer {
  width: 200px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition-duration: 0.5s;
  cursor: pointer;
  margin: 1.5rem;
}

.profileDiv {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 24, 24);
  transition-duration: 0.5s;
  color: rgb(155, 155, 155);
  font-weight: 500;
  font-size: 16px;
  border-radius: 0.25rem;
}

.cardContainer:hover .profileDiv {
  transform: translateX(-25%) translateY(-20%);
  transition-duration: 0.5s;
}

.infoDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 1;
  border-radius: 0.25rem;
}

.nameDiv {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  border-radius: 0.25rem;
}

.name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.role {
  margin-bottom: 5px;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  color: rgb(48, 48, 48);
  font-family: "Soria", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  letter-spacing: 2px;
}

.socialDiv {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(14, 14, 14);
  gap: 25px;
}

.infoDiv a {
  width: 50%;
}

.socials {
  width: 100%;
  fill: rgb(14, 14, 14);
}

.our-photo {
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  .the-team {
    gap: 30px;
  }

  .cardContainer {
    width: 160px;
    height: 200px;
  }

  .profileDiv {
    font-size: 14px;
  }

  .name {
    font-size: 14px;
  }

  .role {
    font-size: 12px;
  }
}
