.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.welcome {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  font-family: "Soria", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  letter-spacing: 2px;
}

.about > p {
  margin-bottom: 20px;
  text-align: justify;
}

.about h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about .contact a {
  text-decoration: underline;
  color: #8750a5;
}

.about .contact a:hover {
  text-decoration: underline;
  color: #9991ca;
}

@media (max-width: 576px) {
  .about {
    padding: 10px;
  }

  .welcome {
    font-size: 2rem;
  }

  .about h3 {
    font-size: 16px;
  }
}

@media (min-width: 577px) {
  .about {
    padding: 15px;
  }

  .welcome {
    font-size: 2.5rem;
  }

  .about h3 {
    font-size: 18px;
  }
}
