.home-button {
  display: block;
  /* max-width: 25%; */
  width: 10rem;
  min-width: 5rem;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 577px) {
  .home-button {
    /* max-width: 20%; */
    min-width: 2rem;
    width: 2rem;
    /* margin-right: 20px; */
    /* margin-left: 20rem; */
  }

  #searchRoutes {
    gap: 0;
  }
}
