.container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.service-item {
  margin-bottom: 5px;
}

.service-item .service-name {
  display: inline-block;
  margin-right: 10px;
}

.button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  background-color: #83cfcb;
  color: #000000;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #19726b;
}

.selected-services {
  margin-top: 20px;
}

.selected-services ul {
  margin-left: 20px;
  padding-left: 0;
}

.selected-services li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.selected-services li:last-child {
  margin-bottom: 0;
}

.remove-button {
  margin-left: 5px;
  padding: 4px 8px;
  font-size: 12px;
  border: none;
  background-color: #e67573;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #d32f2f;
}
