.navbar {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.navbar nav a {
  margin-right: 10px;
}

div:not(.sin_animacion) > nav ::after {
  content: "";
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 4px;
  bottom: -3px;
  left: 25%;
  background-color: white;
  transform-origin: bottom center;
  transition: transform 0.25s ease-in-out;
  border-radius: 35px;
}

div:not(.sin_animacion) > nav :hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.animation {
  display: inline-block;
  position: relative;
  color: white;
  cursor: pointer;
  width: 30%;
  text-align: center;
  font-size: 12px;
}

@media (min-width: 576px) and (max-width: 1023px) {
  .animation {
    width: 100%;
    margin: 3px;
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .animation {
    width: 100%;
    margin: 3px;
    font-size: 18px;
  }
}
