.avatar-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
