.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#profile-avatar {
  padding: 1rem;
  /* background-color: black; */
}

.profile-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  text-align: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 576px) {
  .profile-title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .profile-title {
    font-size: 1.75rem;
    line-height: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
