@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --text: #020203;
  --background: #eef1f7;
  --secondary-button: #e6d9ed;
  /* Para buttons y hover*/
  --primary-button: #9991ca;
  /* Para títulos*/
  --accent: #8750a5;
  /* font-family: "Soria", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
}

.app {
  font-family: "Montserrat", sans-serif;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: hsla(248, 34%, 68%, 1);
  background-image: radial-gradient(
      at 95% 94%,
      hsla(219, 36%, 95%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 6% 90%, hsla(219, 36%, 95%, 1) 0px, transparent 50%),
    radial-gradient(at 69% 91%, hsla(220, 36%, 95%, 1) 0px, transparent 50%),
    radial-gradient(at 32% 89%, hsla(220, 36%, 95%, 1) 0px, transparent 50%),
    radial-gradient(at 90% 53%, hsla(279, 35%, 89%, 1) 0px, transparent 50%),
    radial-gradient(at 18% 49%, hsla(279, 35%, 89%, 1) 0px, transparent 50%),
    radial-gradient(at 94% 23%, hsla(247, 33%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 13% 11%, hsla(248, 34%, 68%, 1) 0px, transparent 50%);
  color: var(--text);
}

/* main {
  flex-grow: 1;
} */

header {
  background-color: var(--primary-button);
  place-content: center;
}

footer {
  margin-top: auto;
}
