* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --oscuro: #827799;
  --claro: #fcfaff;
  --neutro: #d2c9e5;
  --voscuro: #999668;
  --vclaro: #e6e4ca;
  --links: #523d80;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--claro);
}

main {
  flex-grow: 1;
  margin: 30px;
}

header {
  place-content: center;
  padding: 2rem;
}
