* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --text: #020203;
  --background: #eef1f7;
  --secondary-button: #e6d9ed;
  /* Para buttons*/
  --primary-button: #9991ca;
  /* Para títulos y hover */
  --accent: #8750a5;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
}

main {
  flex-grow: 1;
  margin: 30px;
}

header {
  background-color: var(--primary-button);
  place-content: center;
  padding: 2rem;
}
