* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --text: #1c1b17;
  --background: #e8e7e3;
  --primary-button: #9b9dab;
  --secondary-button: #f6f5f4;
  --accent: #66697a;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--claro);
}

main {
  flex-grow: 1;
  margin: 30px;
}

header {
  place-content: center;
  padding: 2rem;
}
