.done-container {
  display: inline-block;
}

.button-done {
  background-color: #8750a5;
  padding: 0.5rem;
  border-radius: 0.35rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 3rem;
}

.button-done:hover {
  background-color: #17a854;
}
